<footer>
  <span class="footer__text--light">©</span>
  <span class="footer__text--light footer__copyrights text-upper">{{ copyrights }}</span>
  <span class="spacer"></span>
  <a
    mat-icon-button
    href="https://www.linkedin.com/in/mario-augusto-brand%C3%A3o-48360757/"
  >
    <mat-icon svgIcon="custom:linkedin" class="footer__icon--light"></mat-icon>
  </a>
  <a mat-icon-button href="http://github.com/mario7cr">
    <mat-icon svgIcon="custom:github" class="footer__icon--light"></mat-icon>
  </a>
</footer>
